@media only screen and (min-width: 600px) {
  .container {
    background-image: url("../../../assets/2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
  }

  .container h1 {
    margin: 0;
  }

  h1 {
    font-family: 'Rubik', sans-serif;
    line-height: 5rem;
    font-size: 5rem;
    color: #c81a23;
  }

  .colaborador {
    height: 25%;
    background-color: aliceblue;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 1rem;
  }

  .img-colaborador {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .container {
    background-image: url("../../../assets/2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
  }

  .container h1 {
    margin: 0;
  }

  h1 {
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    color: #c81a23;
  }

  .colaborador {
    height: 25%;
    background-color: aliceblue;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 1rem;
  }
  .col-container {
    max-width: 50%;
  }

  .img-colaborador {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
  }
  /* prod */
}
