<div class="grid container justify-content-center align-items-center flex-column">
  <h1>PROJETO</h1>
  <h1>NATAL SOLIDÁRIO</h1>
  <h2>AJUDE QUEM PRECISA!</h2>

  <button class="btn-album" (click)="nextAlbum()">ALBUM</button>
  <a class="part-link" href="javascript:void()" (click)="showDialog()">COMO PARTICIPAR?</a>
  <p-dialog header="COMO PARTICIPAR?" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '25vw'}"
    [draggable]="false" [resizable]="false">
    <p>VOCÊ DEVE FAZER UMA DOAÇÃO DE QUALQUER QUANTIA OU PRODUTO E ENVIAR UMA FORMA DE COMPROVAÇÃO (COMPROVANTE OU FOTO) para nosso WhatsApp: (69) 98424-6678.<br><br> AO SER COMPROVADO QUE O PARTICIPANTE SEGUIU TODOS OS PASSOS, ELE DEVE ENVIAR UMA FOTO QUE DESEJA EXIBIR NO ALBUM, NOME E SOBRENOME. <br><br>A EQUIPE TÉCNICA IRÁ ADICIONAR OS DADOS DO PARTICIPANTE EM ATÉ 72 HORAS.</p>
        <ng-template pTemplate="footer">
          <div class="grid justify-content-center align-items-center">
            <p-button (click)="sendToWhatsapp()" icon="fab fa-whatsapp" label="Enviar Comprovante" styleClass="p-button-success"></p-button>
          </div>
        </ng-template>
</p-dialog>
</div>
