@media only screen and (min-width: 600px) {
  .container {
    background-image: url("../../../assets/1.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .container h1 {
    margin: 0;
  }

  h1 {
    font-family: 'Rubik', sans-serif;
    line-height: 5rem;
    font-size: 5rem;
  }

}

@media only screen and (max-width: 600px) {
  .container {
    background-image: url("../../../assets/1.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .container h1 {
    margin: 0;
  }

  h1 {
    font-family: 'Rubik', sans-serif;
    line-height: 3rem;
    font-size: 3rem;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
}

.btn-album {
  text-decoration: none;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  background-color: #c81a23;
  border-radius: 0.5rem;
  width: 18rem;
  height: 5rem;
  border: none;
  cursor: pointer;
}

.btn-album:active {
  background-color: #6d1314;
}

.part-link {
  text-decoration-color: #fff;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.4rem;
}
